@{
    ViewBag.Title = "AddPatient";
}



<style type="text/css">
    .auto-style1 {
        width: 100%;
    }

    .auto-style2 {
        height: 24px;
    }

    .auto-style3 {
        width: 144px;
        text-align: center;
    }

    .auto-style4 {
        height: 24px;
        width: 144px;
        text-align: center;
    }

    .auto-style5 {
        width: 130px;
    }

    .auto-style6 {
        height: 24px;
        width: 130px;
    }

    .auto-style7 {
        width: 96px;
    }

    .auto-style8 {
        width: 144px;
        text-align: right;
        height: 26px;
    }

    .auto-style9 {
        width: 130px;
        height: 26px;
    }

    .auto-style10 {
        height: 26px;
    }

    .auto-style11 {
        height: 24px;
        width: 144px;
        text-align: right;
    }

    .auto-style12 {
        width: 144px;
        text-align: right;
    }
</style>



<form name="AddPatient" method="post">
    <input type="hidden" name="empID" value="@Session["ID"]" />
    <table>
        <tr>
            <td class="auto-style12">Fornavn</td>
            <td class="auto-style5">
                <input class="text-box single-line" data-val="true" data-val-required="Fornavn skal udfyldes" id="Name" name="Name" type="text">
            </td>
            <td>
                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <td class="auto-style12">Efternavn</td>
            <td class="auto-style5">
                <input class="text-box single-line" data-val="true" data-val-required="Efternavn skal udfyldes" id="SurName" name="SurName" type="text">
            </td>
            <td>
                <span class="field-validation-valid text-danger" data-valmsg-for="SurName" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <td class="auto-style12">CPR-nr</td>
            <td class="auto-style5">
                <input class="text-box single-line" data-val="true" data-val-required="CPR-nr skal udfyldes" id="CPRno" name="CPRno" type="text">
            </td>
            <td>
                <span class="field-validation-valid text-danger" data-valmsg-for="CPRno" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <td class="auto-style12">Adgangskode</td>
            <td class="auto-style5">
                <input class="text-box single-line" data-val="true" data-val-required="Adgangskode skal udfyldes" id="Password" name="Password" type="text">
            </td>
            <td>
                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <td class="auto-style8">Gentag adgangskode</td>
            <td class="auto-style9">
                <input class="text-box single-line" data-val="true" data-val-required="Adgangskode skal gentages" id="RPassword" name="RPassword" type="text">
            </td>
            <td class="auto-style10">
                <span class="field-validation-valid text-danger" data-valmsg-for="RPassword" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <td class="auto-style11">Vælg niveau</td>
            <td class="auto-style6">
                <select name="DDLLevel" id="DDLLevel" class="text-box single-line" data-val="true" data-val-required="Niveauet skal vælges" style="height:24px;width:174px;">
                    <option></option>

                    <option value="Klinikker">Klinikker</option>
                    <option value="Patient">Patient</option>

                </select>
            </td>
            <td class="auto-style2">
                <span class="field-validation-valid text-danger" data-valmsg-for="DDLLevel" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <td class="auto-style11">Device</td>
            <td class="auto-style6">
                <select name="DeviceSelection" id="DeviceSelection" class="text-box single-line" data-val="true" data-val-required="Device skal vælges" style="height:24px;width:174px;">
                    <option></option>
                    @using (var db = new Gnusys.Models.GnysusEFModel())
                    {
                        foreach (var item in db.Device)
                        {
                            if (item.PatientID == null)
                            {
                                <option value="@item.ID">@item.ID</option>
                            }
                        }
                    }
                </select>
            </td>
            <td class="auto-style2">
                <span class="field-validation-valid text-danger" data-valmsg-for="DeviceSelection" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <td class="auto-style4">&nbsp;</td>
            <td class="auto-style6">&nbsp;</td>
            <td class="auto-style2">&nbsp;</td>
        </tr>
        <tr>
            <td class="auto-style3">
                <input type="submit" name="Back" value="Tilbage" id="Back" style="width:105px;" />
            </td>
            <td class="auto-style5">
                <input type="submit" name="ConfirmRegistration" value="Bekræft registrering" id="ConfirmRegistration" style="height:27px;width:157px;" />
            </td>
            <td>
                <input id="Reset1" class="auto-style7" type="reset" value="Nulstil" />
            </td>
        </tr>
    </table>
</form>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>