


<div class="container">
    <div class="row">
        <p class="col-md-4">her er text 1 </p>
        <p class="col-md-4">her er text 2 </p>
        <p class="col-md-4">her er text 3 </p>
    </div>
</div>


