
@{
    ViewBag.Title = "AddReadings";
}

<h2>Manuel indtastning</h2>

<form>
    <label for="OxygenSaturation">Iltmætning: </label>
    <input name="OxygenSaturation_input" /><br />
    <label for="Pulse">Puls: </label>
    <input name="Pulse_input" /> <br />
    <button name="AddReading" ></button>
    
</form>
