
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if(Session["ID"] != null)
{
@Html.ActionLink("Indtast Manuelt", "AddReadings", "Readings", new { area = "" }, new { @class = "navbar-brand" })
}
else
{
    <h3 class="form-control">Please log in</h3>
    @Html.ActionLink("Tilbage Til forsiden", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
}
<br />

