<form method="post" action="">
    <table>
        <tr>
            <td class="auto-style12">Fornavn</td>
        </tr>
        <tr>
            <td class="auto-style12">Efternavn</td>
        </tr>
        <tr>
            <td class="auto-style12">CPR-nr</td>
        </tr>
        <tr>
            <td class="auto-style12">Device ID</td>
        </tr>
        <tr>
            <td class="auto-style12">Målinger</td>
        </tr>
    </table>
</form>

