
<style type="text/css">
    .auto-style1 {
        width: 100%;
    }

    .auto-style2 {
        height: 24px;
    }

    .auto-style3 {
        width: 144px;
        text-align: center;
    }

    .auto-style4 {
        height: 24px;
        width: 144px;
        text-align: center;
    }

    .auto-style5 {
        width: 130px;
    }

    .auto-style6 {
        height: 24px;
        width: 130px;
    }

    .auto-style7 {
        width: 96px;
    }

    .auto-style8 {
        width: 144px;
        text-align: right;
        height: 26px;
    }

    .auto-style9 {
        width: 130px;
        height: 26px;
    }

    .auto-style10 {
        height: 26px;
    }

    .auto-style11 {
        height: 24px;
        width: 144px;
        text-align: right;
    }

    .auto-style12 {
        width: 144px;
        text-align: right;
    }


</style>


<form method="post" action="">
    <table>
        <tr>
            <td class="auto-style12">Fornavn</td>
        </tr>
        <tr>
            <td class="auto-style12">Efternavn</td>
        </tr>
        <tr>
            <td class="auto-style12">CPR-nr</td>
        </tr>
        <tr>
            <td class="auto-style12">Device ID</td>
        </tr>
        <tr>
            <td class="auto-style12">Målinger</td>
        </tr>
    </table>
</form>

